* {
    font-family: Ubuntu, "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

body {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
}

div.centered {
    text-align: center;
}

input.performance {
    display: block;
    margin: 0;
    width: 25%;
    box-shadow: none;
    border-radius: none;
    padding: 3px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

input:focus {
    outline: none;
    border-bottom: solid 2px #969696;
}